
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Hakkımızda</h2>

<p>

	Biz Matematik-Bilgisayar bölümü  son sınıf öğrencileriyiz.Bu sitede öğrenmiş olduğumuz bilgileri sizlerle paylaşmayı amaçlıyoruz.















</p>
<br />
<br />
<br />
<br />
<br />
<br />
