<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <title>Anasayfa</title>
</head>
<body>
    @section Header{
    }
    
   @section Side{
            }
    @section Content{
       <div class="content" style="height:800px; background-color:blueviolet;">

        </div>
        
        }

    @section Footer{
        }
</body>
</html>